@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
       url("../fonts/rubik/rubik-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
       url("../fonts/rubik/rubik-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2"),
       url("../fonts/rubik/rubik-800.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"),
       url("../fonts/raleway/raleway-800.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  background: #FFF;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.main-container {
  flex-grow: 1;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

h3 {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

/*Header*/
.header {
  color: #000;
  background: linear-gradient(to bottom, #fff 0px 23px, #FFE17F 24px 323px);
  width: 1160px;
  padding-bottom: 152px;
  margin: 0 auto;
  margin-top: 17px;
}

.main_page {
  transform: translateY(-150px);
}

.main_logo {
  padding-left: 60px;
  margin-bottom: 35px;
}

.header_nav {
  display: flex;
  flex-direction: column;
  width: 1075px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 25px;
}

.header_menu_full {
  display: flex;
  justify-content: space-between;
  width: 1075px;
  align-items: center;
  margin-bottom: 29px;
}

.header_form {
  margin: 0;
  width: 516px;
  position: relative;
}

.header_search {
  padding-left: 31px;
}

.header_input {
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  padding: 5px;
}

.header_nav_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.icon_nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon_search {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.icon_user,
.icon_compare {
  top: 3px;
}

.icon_basket {
  top: 2px;
  left: 15px;
}

.item_user {
  min-width: 220px;
  margin-right: 15px;
  padding-left: 25px;
  position: relative;
}

.item_exit {
  min-width: 60px;
  margin-left: -101px;
  margin-right: 26px;
  opacity: 0.3;
}

.item_entrance {
  min-width: 245px;
  margin-right: 15px;
  position: relative;
}

.item_compare {
  min-width: 120px;
  margin-right: 14px;
  position: relative;
}

.item_basket {
  min-width: 141px;
  position: relative;
}

.header_span {
  margin: 0;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.basket_span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background: #FFF;
  border-radius: 50%;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1041px;
  margin: 0;
}

.item_catalog {
  min-width: 293px;
  margin-right: auto;
  position: relative;
}

.item_delivery {
  min-width: 140px;
  margin-right: 19px;
}

.item_guarantee {
  min-width: 140px;
  margin-right: 62px;
}

.item_contacts {
  min-width: 140px;
  text-align: right;
}

.link {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}

.all_link {
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, #fff 0px 7px, #FFE17F 7px 15px, #fff 15px 20px);
}

.user_link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user_link:hover {
  opacity: 0.6;
}

.user_link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 20px;
}

.user_link:active {
  opacity: 0.3;
}

.link_entrance {
  padding-left: 25px;
}

.link_compare {
  padding-left: 20px;
}

.link_basket {
  padding-left: 41px;
}

.link_logo {
  display: block;
}

.link_logo_footer:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 10px;
}

.link_logo_footer:hover .icon_html{
  fill: #FFF;
}

.link_logo_footer:active .icon_html{
  opacity: 0.3;
  fill: #FFF;
}

.main-inner {
  overflow: hidden;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main_slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: -80px;
}

.gallery {
  width: 560px;
}

.gallery_image {
  display: block;
}

.slider_wrapper {
  position: relative;
}

.slider_controls {
  position: absolute;
  top: 50%;
  left: 19px;
  right: 19px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider_gallery_button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background: url(../img/right_arrow.svg) no-repeat center;
}

.slider_gallery_prev {
  transform: rotate(180deg);
}

.description {
  width: 560px;
  padding-top: 121px;
}

.menu_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.icon_catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.icon_plus {
  opacity: 0.3;
}

.description_compare {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;
}

.description_details {
  margin: 0;
  margin-bottom: 50px;
}

.wrapper_switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.switch {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 80px;
}

.switch_item:not(:last-child){
  margin-right: 22px;
}

.switch_button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.description_link {
  width: 220px;
}

.characteristic {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.characteristic_item {
  margin: 0;
  min-width: 160px;
}

.characteristic_term {
  color: #000;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 11px;
}

.characteristic_description {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

/*Product Offers*/
.product_offers_list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 69px;
}

.product_offers_item {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.bg_offers {
  background: #FFE17F no-repeat center;
  width: 160px;
  height: 160px;px
}

.bg_virtual_reality {
  background-image: url('../img/advantages_icon/virtual_reality.svg');
}

.bg_monopod {
  background: #FFE17F url('../img/advantages_icon/monopod.svg') no-repeat bottom;
}

.bg_camera{
  background-image: url('../img/advantages_icon/camera.svg');
}

.bg_fitness_watch{
  background-image: url('../img/advantages_icon/fitness_watch.svg');
}

.bg_smart_watch{
  background-image: url('../img/advantages_icon/smart_watch.svg');
}

.bg_drone{
  background-image: url('../img/advantages_icon/drone.svg');
}

.product_offers_link {
  font-weight: 800;
  line-height: 24px;
  padding-top: 33px;
  text-align: start;
}

/*Service*/
.service {
  background: linear-gradient(to bottom, transparent 0px 100px, #F0F0F0 100px 288px);
  margin-bottom: 90px;
}

.service_container {
  width: 1160px;
  margin: 0 auto;
}

.scope {
  display: flex;
}

.service_menu {
  width: 280px;
  margin-right: 120px;
  position: relative;
}

.service_menu::after {
  content: '';
  position: absolute;
  background-color: #000;
  width: 7px;
  height: 319px;
  top: 0;
  right: -4px;
}

.service_list {
  margin: 0;
  padding: 0;
  padding-top: 89px;
}

.service_item {
  margin-bottom: 45px;
}

.service_item:last-child {
  margin-bottom: 0;
}

.service_description {
  width: 560px;
}

.service_title {
  padding-top: 70px;
  margin-bottom: 34px;
}

.service_text {
  margin: 0;
  padding: 0;
  margin-bottom: 144px;
  max-width: 497px;
}

.bg_delivery{
  background: url('../img/fast_delivery.svg') no-repeat;
  background-position: right 66px top 85px;
}

.bg_guarantee {
  background: url('../img/warranty.svg') no-repeat;
  background-position: right 46px top 61px;
}

.bg_credit {
  background: url('../img/credit.svg') no-repeat;
  background-position: right 70px top 61px;
}

.service_link {
  display: block;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.bg_service_link {
  background: linear-gradient(to bottom, transparent 0px 7px, #FFC700 7px 15px, transparent 15px 20px);
  width: 160px;
}

.mark_out {
  color: #FFE17F;
  background: #000;
  padding: 9px 120px 11px 0px;
}

/*Delivery Exclusion*/
.delivery_exclusion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F0F0F0;
  margin-bottom: 97px;
}

.delivery_exclusion:hover .bg_delivery_image{
  background-color: #FFC700;
}

.delivery_exclusion:focus {
  outline: 5px solid #AF4FFF;
}

.delivery_exclusion:active .delivery_exclusion_text{
  opacity: 0.3;
}

.bg_delivery_image {
  background: #FFE17F url('../img/rare_delivery.svg') no-repeat center;
  width: 125px;
  height: 100px;
}

.delivery_exclusion_text {
    font-family: "Raleway", sans-serif;
    color: #000;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2em;
}

.bg_delivery_info {
  background: url('../img/info.svg') no-repeat center;
  background-color: rgb(220, 220, 220, 0.5);
  border-radius: 50%;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  margin-right: 33px;
}

/*Information*/
.information {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 49px;
  margin-bottom: 77px;
}

.info_title {
  margin-bottom: 46px;
}

.info_link {
  margin-top: auto;
  align-self: flex-start;
  width: 260px;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 562px;
}

.info_text {
  margin: 0;
  margin-bottom: 30px;
}

.info_text_about {
  margin: 0;
  margin-bottom: 75px;
}

.info_contacts_subtitle {
  margin-bottom: 15px;
}

.info_about_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;

}

.info_about_item {
  color: #000;
  font-weight: 700;
  line-height: 20px;
  padding-left: 35px;
  position: relative;

}

.info_about_item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contacts_address {
  margin-bottom: 30px;
}

.contacts_address_text {
  margin: 0;
}

.contacts_schedule {
  margin: 0;
  padding: 0;
  margin-bottom: 67px;
}

/*Sign*/
.sign {
  background: #F0F0F0;
  padding-top: 75px;
  padding-bottom: 131px;
}

.sign_container {
  width: 1160px;
  margin: 0 auto;
}

.sign_call {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  margin-bottom: 53px;
}

.sign_action {
  display: flex;
}

.sign_title {
  width: 560px;
}

.sign_text {
  width: 560px;
  margin: 0;
  align-self: center;
}

.sign_form {
  display: flex;
  width: 861px;
}

.field_email {
  flex-grow: 1;
  background: transparent;
  border: none;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
  font: inherit;
}

.button {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 260px;
  margin-left: auto;
  padding: 17px 0 18px 0;
  background-color: transparent;
  border: 3px solid rgb(0, 0, 0, 0.1);
}

.sign_span {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.sign_action_text {
  margin: 0;
  padding-left: 35px;
}

.sign_action_text::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: url(../img/tick_big.svg) no-repeat center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contacts_address {
  font-style: normal;
}

.contacts_phone {
  color: #444;
}

/*Footer*/
.main_footer {
  color: #FFF;;
  background: #444;
}

.footer_container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 61px;
}

.footer_info {
  width: 239px;
  margin-right: 113px;
  padding-top: 62px;
}

.footer_info::after {
  content: '';
  position: absolute;
  background-color: #FFC500;
  width: 80px;
  height: 7px;
}

.footer_logo_img {
  margin-bottom: 35px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 133px;
}

.footer_nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 458px;
  margin-bottom: 63px;
}

.footer_social_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
}

.soc_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*opacity: 0.3;*/
  color: #444;
}

.soc_icon:focus {
  outline: 5px solid #AF4FFF;
}

.soc_icon:hover {
  background-color: #FFC700;
}

.facebook {
  background: #7c7c7c url('../img/facebook.svg') no-repeat center;
}

.instagram {
  background: #7c7c7c url('../img/instagram.svg') no-repeat center;
}

.twitter {
  background: #7c7c7c url('../img/twitter.svg') no-repeat center;
}

.footer_link {
  color: #FFF;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer_link:hover {
  color: #FFC700;
}

.footer_link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.footer_link:active {
  opacity: 0.3;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  align-items: flex-end;
  width: 293px;
  padding-top: 133px;
}

.footer_address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 66px;
}

.footer_phone {
  color: #FFF;
  text-decoration: none;
  line-height: 30px;
}

.footer_phone:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.footer_phone:hover {
  color: #FFC700;
}

.footer_phone:active {
  opacity: 0.3;
}

/*CATALOG*/
.header_catalog {
  padding-bottom: 38px;
  margin-bottom: 37px;
}

.inner_way_title {
  margin-left: 60px;
  margin-bottom: 14px;
}

.inner_way_list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-bottom: 49px;
  line-height: 0;
}

.inner_way_item {
  margin-right: 36px;
  position: relative;
}

.inner_way_item:not(:last-child)::after {
  content: '';
  position: absolute;
  background: url('../img/nav_arrow.svg') no-repeat center;
  width: 4px;
  height: 7px;
  top: 7px;
  right: -16px;
}

.inner_way_link {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  opacity: 0.6;
}

.catalog_products_container {
  display: flex;
}

.catalog_left_column {
  display: flex;
  position: relative;
}

.catalog_products {
  background: #EBEBEB;
}

.catalog_products::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 70px;
  left: 0;
  background: #EBEBEB;
  transform: translateX(-100%);
}

.product_span {
  background-color: #DCDCDC;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

.product_span::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 70px;
  left: 0;
  background: #DCDCDC;
  transform: translateX(-100%);
}

.label_span {
  padding-left: 60px;
}

.catalog_right_column {
  width: 832px;
}

.catalog_filter {
  width: 236px;
  padding: 83px 32px 0 60px;
}

.filter_price {
  margin-bottom: 48px;
}

.filter_color {
  margin-bottom: 57px;
}

.filter_bluetooth {
  margin-bottom: 51px;
}

.product_labe {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.filter_legend {
  font-family: "Rubik", sans-serif;
  color: #000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter_price_label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.example {
  color: #000;
  font-size: 16px;
  line-height: 19px;
}

.filter_button {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  line-height: 21px;
  background-color: #FFE17F;
  text-transform: uppercase;
}

/*Sorting*/
.sorting_type {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 832px;
  height: 70px;
  position: relative;
}

.sorting_type::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 70px;
  right: 0;
  background: #EBEBEB;
  transform: translateX(100%);
}

.sorting_list {
  margin-right: auto;
}

.product_label {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
}

.label_sorting {
  padding-left: 72px;
}

.wrapper_cards {
  display: grid;
  gap: 44px 0;
  padding-top: 69px;
  padding-left: 72px;
  margin-bottom: 51px;
}

.product_cards_list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
}

.product_card {
  position: relative;
}

.product_card_price {
  margin: 0;
  color: #444;
  line-height: 21px;
}

.product_new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 27px;
  width: 56px;
  height: 56px;
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product_card_new {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  opacity: 0.6;
}

.product_card_link {
  text-decoration: none;
}

.product_card_image {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.product_card_title {
  max-width: 280px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.card_description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.text_new {
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
}

.cards_show_more {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 18px 0;
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
  border: 3px solid rgb(0, 0, 0, 0.1);
}

.pagination_cards {
  background: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 75px;
  margin-bottom: 77px;
  height: 70px;
}

.pagination_list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination_item {
  margin-right: 29px;
}

.pagination_item:last-child {
  margin-right: 0;
}

.cards_number_page {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: none;
  padding: 26px 0 25px 0;
  max-width: 90px;
}

.btn_back {
  margin-left: 29px;
  text-align: left;
}

.btn_forward {
  margin-right: 33px;
  text-align: right;
}

.pagination_number {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
}
