@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
       url("../fonts/rubik/rubik-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
       url("../fonts/rubik/rubik-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2"),
       url("../fonts/rubik/rubik-800.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"),
       url("../fonts/raleway/raleway-800.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  background: #FFF;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

h3 {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

/*Header*/
.header {
  color: #000;
  background: linear-gradient(to bottom, #fff 0px 23px, #FFE17F 24px 323px);
  width: 1160px;
  padding-bottom: 151px;
  margin: 0 auto;
  margin-top: 17px;
}

.main_page {
  transform: translateY(-150px);
}

.link_logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  outline: none;
}

.header_logo:hover {
  opacity: 0.6;
}

.header_logo:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 5px;
  border-radius: 25px;
}

.header_logo:active {
  opacity: 0.3;
}

.main_logo {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 61px;
}

.header_nav {
  display: flex;
  flex-direction: column;
  width: 1075px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 25px;
}

.header_menu_full {
  display: flex;
  justify-content: space-between;
  width: 1075px;
  align-items: center;
  margin-bottom: 26px;
}

.header_form {
  margin: 0;
  width: 516px;
  position: relative;
  margin-left: -16px;
}

.header_input::placeholder {
  color: rgb(0, 0, 0, 0.3);
}

.header_search:hover .header_input::placeholder {
  color: rgb(0, 0, 0, 0.6);
}

.icon_search {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-top: 2px;
  padding-left: 16px;
}

.header_search {
  display: flex;
  padding-left: 47px;
}

.header_input {
  font-size: 16px;
  line-height: 19px;
  width: 516px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  padding: 6px 173px 5px 52px;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
}

.btn_search {
  font-size: 16px;
  font-family: inherit;
  line-height: 19px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  background: transparent;
  text-align: center;
  display: none;
  position: absolute;
  width: 160px;
  top: -2px;
  right: -2px;
  padding: 5px 5px 6px 5px;
}

.btn_search:hover {
  background-color: #000;
  color: #FFF;
}

.btn_search:focus {
  display: block;
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.btn_search:active {
  background-color: #000;
  color: rgb(255, 255, 255, 0.3);
}

.header_input:hover::placeholder {
  opacity: 0.6;
}

.header_input:focus:not(:placeholder-shown)  {
  display: block;
  outline: 2px solid #000;
}

.header_input:focus:placeholder-shown  {
  display: block;
  outline: 2px solid #AF4FFF;
}

.header_input:not(:placeholder-shown) + .btn_search {
  display: block;
}

.header_nav_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.link {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}

.user_link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.user_link:hover {
  opacity: 0.6;
}

.user_link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 20px;
}

.user_link:active {
  opacity: 0.3;
}

.item_entrance {
  min-width: 245px;
  margin-right: 15px;
}

.link_entrance {
  padding: 10px 21px;
}

.icon_user {
  margin-right: 8px;
}

.item_compare {
  min-width: 120px;
  margin-right: 19px;
}

.link_compare {
  padding: 10px 21px;
}

.icon_compare {
  margin-right: 6px;
}

.item_basket {
  min-width: 141px;
  position: relative;
}

.link_basket {
  padding: 10px 22px 10px 15px;
}

.header_span {
  font-size: 14px;
  position: absolute;
  top: -1px;
  z-index: 1;
}

.basket_span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.icon_basket {
  margin-right: 6px;
}

.popover {
  width: 320px;
  min-height: 100px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
  background-color: #000;
  box-shadow: 0 10px 0 0 #e5e5e5;
  position: absolute;
  top: 30px;
  right: -41px;
  z-index: 1;
  box-sizing: border-box;
  display: none;
}

.popover::before {
  content: '';
  position: absolute;
  background: url("../img/triangle.svg") no-repeat center;
  width: 14px;
  height: 6px;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.popover_wrapper {
  padding: 20px;
  height: 100%;
}

.popover_basket_list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.poover_basket_item {
  display: grid;
  grid-template-columns: 41px 182px 11px;
  gap: 0 23px;
  position: relative;
}

.poover_basket_item:not(:last-child)  {
  margin-bottom: 41px;
}

.poover_basket_item:not(:first-child)::before {
  content: '';
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.1);
  top: -20px;
  left: -21px;
}

.delete_item {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  align-self: flex-start;
  padding: 4px 0;
}

.delete_item:hover {
  fill-opacity: 0.6;
}

.delete_item:focus .icon_delete{
  outline: 2px solid #AF4FFF;
  outline-offset: 7px;
  border-radius: 50%;
}

.delete_item:active {
  fill-opacity: 0.3;
}

.popover_image {
  display: block;
}

.icon_delete {
  fill: #FFF;
}

.total {
  display: flex;
  justify-content: space-between;
  background-color: #1A1A1A;
  align-items: center;
  padding: 12px 20px;
}

.total_items {
  padding-right: 10px;
}

.link_open_basket {
  padding: 0;
  margin: 0;
  display: block;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 100%;
  padding: 15px 0;
}

.link_open_basket:hover {
  background-color: #FFE17F;
}

.link_open_basket:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.link_open_basket:active {
  background-color: #FFE17F;
  color: rgb(0, 0, 0, 0.3);
}

.user_name {
  min-width: 220px;
  margin-right: 59px;
}

.item_exit {
  min-width: 60px;
  margin-left: -122px;
  margin-right: 11px;
  opacity: 0.3;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1065px;
  margin: 0;
}

.item_catalog {
  display: flex;
  min-width: 293px;
  margin-right: auto;
}

.link_catalog {
  margin-right: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.link_catalog:hover + .icon_catalog {
  display: none;
}

.link_catalog:hover ~ .icon_catalog_minus {
  opacity: 1;
  margin: 0px;
  border: 2px solid rgba(0, 0, 0);
}

.link_catalog:focus-visible {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
  padding: 0 20px;
  margin-left: -20px;
}

.link_catalog:focus-visible + .icon_catalog {
  margin-left: -20px;
}

.link_catalog:active {
  opacity: 0.3;
}

.link_catalog:active + .icon_catalog {
  display: none;
}

.link_catalog:active ~ .icon_catalog_minus {
  opacity: 0.3;
  fill-opacity: 0.3;
  margin: 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.icon_catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.icon_plus {
  fill-opacity: 0.3;
}

.icon_catalog_minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-left: -50px;
  opacity: 0;
}

.menu_link {
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu_link:hover {
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

.menu_link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.menu_link:active {
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  opacity: 0.3;
}

.link_outline {
  display: block;
  padding: 14px 20px 15px 20px;
}

.item_delivery {
  min-width: 140px;
  margin-right: -10px;
}

.item_guarantee {
  min-width: 140px;
  margin-right: 51px;
}

.item_contacts {
  min-width: 141px;
  text-align: right;
}

/*Main Page*/
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main_slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: -80px;
}

.gallery {
  width: 560px;
}

.gallery_image {
  display: block;
}

.slider_wrapper {
  position: relative;
}

.slider_controls {
  position: absolute;
  top: 50%;
  left: 19px;
  right: 19px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.controls_selfie_stick {
  transform: translateY(29px);
}

.slider_gallery_button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background: url(../img/right_arrow.svg) no-repeat center;
}

.slider_gallery_button:hover {
  opacity: 0.6;
}

.slider_gallery_button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 6px;
}

.slider_gallery_button:active {
  opacity: 0.3;
}

.slider_gallery_prev {
  transform: rotate(180deg);
}

.description {
  width: 560px;
  padding-top: 122px;
}

.description_quadcopter,
.description_bracelet,
.description_selfie_stick {
  position: relative;
}

.description_quadcopter::before {
  content: '';
  position: absolute;
  background: url("../img/01_slider.png") no-repeat center;
  width: 250px;
  height: 135px;
  top: 26px;
  right: 35px;
  z-index: -1;
}

.description_bracelet::before {
  content: '';
  position: absolute;
  background: url("../img/02_slider.png") no-repeat center;
  width: 250px;
  height: 135px;
  top: 27px;
  right: 47px;
  z-index: -1;
}

.description_selfie_stick::before {
  content: '';
  position: absolute;
  background: url("../img/03_slider.png") no-repeat center;
  width: 250px;
  height: 135px;
  top: 27px;
  right: 47px;
  z-index: -1;
}

.description_compare {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.description_details {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.all_link {
  outline: none;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, transparent 0px 7px, #FFE17F 7px 15px, transparent 15px 20px);
}

.all_link:hover {
  background: #FFE17F;
  box-shadow: 0 -9px 0 0 #FFE17F,
              0 11px 0 0 #FFE17F;
}

.all_link:focus {
  background: linear-gradient(to bottom, transparent 0px 7px, #AF4FFF 7px 15px, transparent 15px 20px);
}

.all_link:active {
  color: rgba(0, 0, 0, 0.3);
  background: #FFE17F;
  box-shadow: 0 -9px 0 0 #FFE17F,
              0 11px 0 0 #FFE17F;
}

.description_link {
  width: 217px;
  padding-left: 3px;
}

.wrapper_switch {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-bottom: 69px;
}

.switch {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 80px;
}

.switch_item {
  display: flex;
  align-items: center;
}

.switch_item:not(:last-child){
  margin-right: 22px;
}

.switch_button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #FFF;
  box-shadow: 0px 0px 0px 2px #000 inset;
}

.switch_button:hover {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6) inset;
}

.switch_button:focus{
  box-shadow: 0px 0px 0px 2px rgb(175, 79, 255) inset;
}

.switch_button:active {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3) inset;
}

.switch_button_current {
  background-color: #000;
}

.characteristic {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.characteristic_item {
  margin: 0;
  width: 160px;
}

.item_selfie_stick {
  width: 140px;
}

.item_selfie_stick:first-child {
  margin-right: 20px;
}

.characteristic_term {
  color: #000;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 11px;
}

.characteristic_description {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.link_exit {
  padding: 10px 21px;
}

/*Product Offers*/
.product_offers {
  margin-bottom: 81px;
}

.product_offers_list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product_offers_item {
  width: 160px;
}

.bg_offers {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFE17F;
  width: 160px;
  height: 160px;
  fill: #363636;
  margin-bottom: 33px;
}

.bg_monopod {
  align-items: flex-end;
}

.icon_camera {
  padding-top: 2px;
  padding-left: 9px;
}

.icon_fitness_watch {
  padding-top: 4px;
}

.icon_drone {
  padding-top: 6px;
}

.product_offers_link {
  font-weight: 800;
  line-height: 24px;
  text-align: start;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
}

.product_offers_link:hover .bg_offers {
  background-color: #FFC700;
}

.product_offers_link:focus {
  color: #AF4FFF;
  outline: none;
}

.product_offers_link:focus .bg_offers {
  outline: 5px solid #AF4FFF;

}

.product_offers_link:active {
  color: rgb(0, 0, 0, 0.3);
}

.product_offers_link:active .bg_offers {
  background-color: #FFC700;
  fill-opacity: 0.3;
}

/*Service*/
.service {
  background: linear-gradient(to bottom, transparent 0px 100px, #F0F0F0 100px 288px);
  margin-bottom: 89px;
}

.service_container {
  width: 1160px;
  margin: 0 auto;
}

.scope {
  display: flex;
}

.bg_delivery{
  background: url('../img/fast_delivery.svg') no-repeat;
  background-position: right 66px top 85px;
}

.bg_guarantee {
  background: url('../img/warranty.svg') no-repeat;
  background-position: right 46px top 61px;
}

.bg_credit {
  background: url('../img/credit.svg') no-repeat;
  background-position: right 70px top 61px;
}

.service_menu {
  width: 280px;
  margin-right: 120px;
  position: relative;
}

.service_menu::after {
  content: '';
  position: absolute;
  background-color: #000;
  width: 7px;
  height: 319px;
  top: 0;
  right: -4px;
}

.service_list {
  margin: 0;
  padding: 0;
  padding-top: 80px;
}

.service_item_delivery {
  margin-bottom: 24px;
}

.service_item_guarantee {
  margin-bottom: 25px;
}

.service_item:last-child {
  margin-bottom: 0;
}

.service_link {
  display: block;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  padding-left: 3px;
}

.bg_service_link {
  padding: 9px 0 10px 3px;
  background: linear-gradient(to bottom, transparent 0px 16px, #FFC700 16px 24px, transparent 24px 29px);
  width: 157px;
  outline: none;
}

.bg_service_link:hover {
  background: #FFC700;
}

.bg_service_link:focus {
  background: linear-gradient(to bottom, transparent 0px 16px, #AF4FFF 16px 24px, transparent 24px 29px);
}

.bg_service_link:active {
  color: #FFE17F;
  background: #000;
  box-shadow: 10px 1px 0 10px #000,
              110px 1px 0 10px #000;
}

.mark_out {
  color: #FFE17F;
  background: #000;
  padding: 9px 120px 10px 3px;
  outline: none;
}

.service_description {
  width: 560px;
}

.service_title {
  padding-top: 71px;
  margin-bottom: 34px;
}

.service_text {
  margin: 0;
  padding: 0;
  margin-bottom: 144px;
  max-width: 497px;
}

/*Delivery Exclusion*/
.delivery_exclusion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F0F0F0;
  margin-bottom: 147px;
}

.delivery_exclusion:hover .bg_delivery_image {
  background-color: #FFC700;
}

.delivery_exclusion:hover .bg_delivery_info {
  background: #DCDCDC url('../img/info_hover.svg') no-repeat center;
}

.delivery_exclusion:focus {
  outline: 5px solid #AF4FFF;
}

.delivery_exclusion:active .bg_delivery_image {
  background: #FFC700 url('../img/rare_delivery_active.svg') no-repeat center;
}

.delivery_exclusion:active .delivery_exclusion_text{
  opacity: 0.3;
}

.delivery_exclusion:active .bg_delivery_image {
  fill: #000;
  fill-opacity: 0.3;
}

.bg_delivery_image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFE17F;
  width: 125px;
  height: 100px;
}

.delivery_exclusion_text {
    font-family: "Raleway", sans-serif;
    color: #000;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2em;
}

.bg_delivery_info {
  background: url('../img/info.svg') no-repeat center;
  background-color: rgb(220, 220, 220, 0.5);
  border-radius: 50%;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  margin: 0 33px 0 48px;
}

/*Information*/
.information {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 87px;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  width: 560px;
  position: relative;
}

.info_wrapper::before {
  content: '';
  position: absolute;
  background-color: #000;
  width: 80px;
  height: 7px;
  top: -50px;
  left: 0;
}

.info_title {
  margin-bottom: 45px;
}

.info_text {
  margin: 0;
  margin-bottom: 30px;
}

.info_text_about {
  margin: 0;
  margin-bottom: 75px;
}

.info_about_list {
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
}

.info_about_item {
  color: #000;
  font-weight: 700;
  line-height: 20px;
  padding-left: 35px;
  margin-bottom: 20px;
  position: relative;
}

.info_about_item:last-child {
  margin-bottom: 0;
}

.info_about_item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.info_link {
  margin-top: auto;
  width: 255px;
  padding-left: 4px;
}

.info_subtitle {
  margin-bottom: 15px;
}

.contacts_phone {
  color: #444;
}

.contacts_phone:hover {
  opacity: 0.6;
}

.contacts_phone:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 6px;
  border-radius: 25px;
}

.contacts_phone:active {
  opacity: 0.3;
}

.contacts_address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts_address_text {
  margin: 0;
  padding: 0;
}

.contacts_schedule {
  margin: 0;
  padding: 0;
  margin-bottom: 67px;
}

/*Sign*/
.sign {
  background: #F0F0F0;
  padding-top: 75px;
  padding-bottom: 130px;
}

.sign_call {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  margin-bottom: 39px;
}

.sign_title {
  width: 560px;
}

.sign_text {
  width: 560px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.sign_action {
  display: flex;
}

.sign_form {
  display: flex;
  width: 860px;
}

.field_email {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
  font: inherit;
  outline: none;
}

.field_email::placeholder {
  color: rgb(68, 68, 68, 0.5);
}

.field_email:hover {
  border-bottom: 3px solid rgb(0, 0, 0, 0.2);
}

.field_email:focus {
  background-color: #DCDCDC;
}

.field_email:active {
  border-bottom: 3px solid rgb(0, 0, 0);
  outline: none;
}

.field_email:not(:placeholder-shown) {
  background: transparent;
}

.field_email:invalid {
  border-bottom: 3px solid #FF3D3D;
  outline: none;
}

.button {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 260px;
  padding: 14px 0 15px 0;
  margin-left: auto;
  background-color: transparent;
  border: 3px solid rgb(0, 0, 0, 0.1);
}

.sign_button:hover {
  color: #FFF;
  background-color: #000;
}

.sign_button:focus {
  border: 3px solid #AF4FFF;
}

.sign_button:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: #000;
}

.sign_span {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.sign_action_text {
  margin: 0;
  padding: 0;
  padding-left: 36px;
}

.sign_action_text::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../img/tick_big.svg") no-repeat center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*Footer*/
.main_footer {
  color: #FFF;;
  background: #444;
}

.footer_container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 61px;
}

.footer_info {
  width: 239px;
  padding-top: 62px;
  margin-right: 60px;
  position: relative;
}

.footer_info::after {
  content: '';
  position: absolute;
  background-color: #FFC500;
  width: 80px;
  height: 7px;
}

.footer_logo_img {
  display: block;
  margin-bottom: 35px;
}

.link_logo:hover {
  opacity: 0.6;
}

.link_logo:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 10px;
}

.link_logo:active {
  opacity: 0.3;
}

.footer_address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.address {
  margin-bottom: 66px;
}

.footer_menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 133px;
}

.footer_nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 57px;
}

.footer_item:not(:last-child) {
  margin-right: -12px;
}

.footer_link {
  color: #FFF;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 20px 15px 20px;
}

.footer_link:hover {
  color: #FFC700;
  text-decoration: underline 2px;
  text-underline-offset: 8px;

}

.footer_link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.footer_link:active {
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  opacity: 0.3;
  color: #FFC700;
}

.footer_social_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-right: 6px;
}

.footer_social_item:not(:last-child):not(.instagram) {
  margin-right: 15px;
}

.instagram {
  margin-right: 14px;
}

.footer_soc_link {
  display: block;
  outline: none;
}

.footer_soc_link:hover .soc_icon{
  background-color: #FFC700;
}

.footer_soc_link:focus .soc_icon{
  outline: 5px solid #AF4FFF;
  background-color: transparent;
}

.footer_soc_link:focus .footer_icon {
  fill: #FFF;
}

.footer_soc_link:active .soc_icon{
  background-color: #FFC700;
}

.footer_soc_link:active .footer_icon {
  fill: #444;
  fill-opacity: 0.3;
}

.soc_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7c7c7c;
  fill: #444;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  align-items: flex-end;
  width: 293px;
  padding-top: 133px;
}

.phone {
  margin-right: -15px;
  margin-bottom: 60px;
}

.footer_phone {
  color: #FFF;
  text-decoration: none;
  line-height: 30px;
  padding: 3px 15px 5px;
}

.footer_phone:hover {
  color: #FFC700;
}

.footer_phone:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.footer_phone:active {
  opacity: 0.3;
}

.link_logo_footer {
  display: block;
  height: 35px;
}

.link_logo_footer:hover .icon_html{
  fill: #FFF;
}

.link_logo_footer:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 10px;
}

.link_logo_footer:active .icon_html{
  opacity: 0.3;
  fill: #FFF;
}

/*CATALOG*/
.header_catalog {
  padding-bottom: 38px;
  margin-bottom: 37px;
}

.main-inner {
  overflow: hidden;
}

.inner_way {
  margin-bottom: 49px;
}

.inner_way_title {
  margin-left: 60px;
  margin-bottom: 23px;
}

.inner_way_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  line-height: 0;
}

.inner_way_item {
  margin-right: 35px;
  position: relative;
}

.inner_way_item:not(:last-child)::after {
  content: '';
  position: absolute;
  background: url('../img/nav_arrow.svg') no-repeat center;
  width: 4px;
  height: 7px;
  top: 7px;
  right: -19px;
}

.inner_way_link {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  opacity: 0.6;
}

.inner_way_link:hover {
  opacity: 1;
}

.inner_way_link:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 6px;
  opacity: 1;
}

.inner_way_link:active {
  opacity: 0.3;
}

/*Left column*/
.catalog_left_column {
  display: flex;
  position: relative;
}

.catalog_products_container {
  display: flex;
}

.product_span {
  background-color: #DCDCDC;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

.product_span::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 70px;
  left: 0;
  background: #DCDCDC;
  transform: translateX(-100%);
}

.product_label {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
}

.label_span {
  padding-left: 60px;
}

.catalog_products {
  background: #EBEBEB;
}

.catalog_products::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 70px;
  left: 0;
  background: #EBEBEB;
  transform: translateX(-100%);
}

.catalog_filter {
  width: 200px;
  padding: 83px 68px 0 60px;
}

.filter {
  margin: 0;
  padding: 0;
  border: none;
}

.filter_price {
  margin-bottom: 48px;
}

.filter_legend {
  font-family: "Rubik", sans-serif;
  color: #000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  position: relative;
  padding: 0;
}

.filter_legend::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 2px;
  top: -14px;
  left: -1px;
  background-color: #000;
}

.legend_price {
  margin-bottom: 37px;
}

.range_scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #DCDCDC;
}

.range_bar {
  position: absolute;
  height: 2px;
  background-color: #000;
}

.range_toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 0px 2px #000 inset;
  cursor: pointer;
}

.range_toggle:focus {
  box-shadow: 0px 0px 0px 2px #AF4FFF inset;
  outline: none;
}

.range_toggle:active {
  background-color: #000;
  outline: none;
}

.toggle_min {
  top: -8px;
  left: -1px;
}

.toggle_max {
  top: -8px;
  right: -8px;
}

.range_wrapper_inputs {
  display: flex;
}

.filter_price_input {
  width: 70px;
  padding: 0 11px 0 4px;
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: textfield;
}

.filter_price_input::-webkit-outer-spin-button,
.filter_price_input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter_color {
  margin-bottom: 53px;
}

.legend_color,
.legend_bluetooth {
  margin-bottom: 22px;
}

.filter_color_list {
  margin: 0;
  padding: 0;
}

.filter_color_item:not(:last-child) {
  margin-bottom: 10px;
}

.filter_color_label {
  display: block;
  padding-left: 37px;
  position: relative;
}

.control_mark {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 0;
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-radius: 3px;
}

.filter_input[type="checkbox"]:hover:checked + .control_mark {
  opacity: 0.5;
}

.filter_input[type="checkbox"]:hover:checked ~ .example {
  color: rgba(0, 0, 0, 0.5);
}

.filter_input[type="checkbox"]:focus + .control_mark {
  border-color: #AF4FFF;
}

.filter_input[type="checkbox"]:checked:focus + .control_mark {
  border-color: #AF4FFF;
  background-image: url("../img/tick_small_purple.svg");
}

.filter_input[type="checkbox"]:focus ~ .example {
  color: #AF4FFF;
}

.filter_input[type="checkbox"]:active + .control_mark {
  opacity: 0.2;
}

.filter_input[type="checkbox"]:checked:active + .control_mark {
  opacity: 0.2;
}

.filter_input[type="checkbox"]:active ~ .example {
  color: rgba(0, 0, 0, 0.2);
}

.filter_input[type="checkbox"]:checked + .control_mark {
  content: '';
  position: absolute;
  background: url("../img/tick_small.svg") no-repeat center;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
}

.example {
  color: #000;
  font-size: 16px;
  line-height: 19px;
}

.filter_bluetooth {
  margin-bottom: 43px;
}

.filter_bluetooth_list {
  margin: 0;
  padding: 0;
}

.filter_bluetooth_item:not(:last-child) {
  margin-bottom: 11px;
}

.filter_bluetooth_label {
  position: relative;
  display: block;
  padding-left: 37px;
}

.filter_input[type="radio"] + .control_mark {
  border-radius: 50%;
}

.filter_input[type="radio"]:checked + .control_mark {
  border: 2px solid #000;
}

.filter_input[type="radio"]:checked + .control_mark::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.filter_input[type="radio"]:hover:checked + .control_mark {
  opacity: 0.5;
}

.filter_input[type="radio"]:hover:checked ~ .example {
  color: rgba(0, 0, 0, 0.5);
}

.filter_input[type="radio"]:focus + .control_mark {
  border-color: #AF4FFF;
}

.filter_input[type="radio"]:focus:checked + .control_mark::before {
  border-color: #AF4FFF;
  background-color: #AF4FFF;
}
.filter_input[type="radio"]:focus ~ .example {
  border-color: #AF4FFF;
  color: #AF4FFF;
}


.filter_input[type="radio"]:active + .control_mark {
  opacity: 0.2;
}

.filter_input[type="radio"]:checked:active + .control_mark {
  opacity: 0.2;
}

.filter_input[type="radio"]:active ~ .example {
  color: rgba(0, 0, 0, 0.2);
}

.catalog_right_column {
  width: 832px;
}

.product_labe {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.filter_price_label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
  margin-left: -6px;
}

.filter_button {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
  width: 200px;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, transparent 0px 8px, #FFC700 8px 16px, transparent 16px 20px);
}

.filter_button:hover {
  background: #FFC700;
  box-shadow: 0 -9px 0 0 #FFC700,
              0 11px 0 0 #FFC700;
}

.filter_button:focus {
  outline: none;
  background: linear-gradient(to bottom, transparent 0px 8px, #AF4FFF 8px 16px, transparent 16px 20px);
}

.filter_button:active {
  color: rgba(0, 0, 0, 0.3);
  background: #FFC700;
  box-shadow: 0 -9px 0 0 #FFC700,
              0 11px 0 0 #FFC700;
}

/*Right column*/
.sorting_type {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 832px;
  height: 70px;
  position: relative;
}

.sorting_type::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 70px;
  right: 0;
  background: #EBEBEB;
  transform: translateX(100%);
  z-index:-1;
}

.sorting_list {
  margin-right: auto;
}

.label_sorting {
  margin-right: 45px;
}

.select {
  display: flex;
  align-items: center;
  width: 413px;
  margin-left: 72px;
}

.select_control {
  width: 100%;
  text-align: left;
  border: none;
  font-family: inherit;
  font-size: 16px;
  padding: 4px 33px 7px 5px;
  appearance: none;
  outline: none;
  background: transparent url("../img/select_arrow.svg") no-repeat right 24px center;
}

.select_control:hover {
  opacity: 0.6;
}

.select_control:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 4px;
}

.select_control:active {
  opacity: 0.3;
}

.icon_sorting_switch {
  fill-opacity: 0.2;
}

.active > .icon_sorting_switch {
  fill-opacity: 1;
}

.sorting_type_button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.sorting_type_button:hover .icon_sorting_switch{
  fill-opacity: 0.5;
}

.sorting_type_button:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 9px;
}


.sorting_type_up {
  margin-right: 14px;
}

.wrapper_cards {
  display: grid;
  gap: 46px 0;
  padding-top: 69px;
  padding-left: 72px;
  margin-bottom: 51px;
}

.product_cards_list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 46px 40px;
}

.product_card {
  position: relative;
}

.product_card_price {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 21px;
  padding-right: 2px;
}

.product_new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 27px;
  width: 56px;
  height: 56px;
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product_card_new {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  opacity: 0.6;
}

.product_card_link {
  text-decoration: none;
  display: block;
  outline: none;
}

.product_card_link::after {
  content: '';
  position: absolute;
  background: rgb(240, 240, 240, 0.8);
  width: 360px;
  height: 380px;
  top:0;
  left: 0;
  display: none;
}

.product_card_link:hover + .product_card_button {
  display: block;
}
.product_card_link:hover::after {
  display: block;
}

.product_card_link:focus .card_description .product_card_title {
  color: #AF4FFF;
  outline: none;
}

.product_card_link:focus .card_description .product_card_price {
  color: #AF4FFF;
  outline: none;
}

.product_card_link:focus .product_card_image {
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.product_card_image {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.product_card_button {
  content: '';
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  display: none;
}

.product_card_title {
  max-width: 280px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.card_description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.text_new {
  border: 2px solid rgb(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
}

.cards_show_more {
  font-size: 16px;
  line-height: 19px;
  padding: 15px 0 15px 3px;
  grid-column: 1 / -1;
  width: 100%;
}

.cards_show_more:hover {
  border: 3px solid #000;
}

.cards_show_more:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.cards_show_more:active {
  opacity: 0.3;
}

.pagination_cards {
  background: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
  margin-bottom: 77px;
}

.pagination_list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination_item:not(:last-child) {
  margin-right: 8px;
}

.cards_number_page {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: none;
}

.cards_number_page:hover {
  background-color: #DCDCDC;
}

.cards_number_page:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.cards_number_page:active {
  color:rgb(0, 0, 0, 0.3)
}

.btn_back {
  text-align: left;
  padding: 26px 18px 25px 29px;
  max-width: 127px;
  margin-right: 60px;
}

.btn_forward {
  text-align: right;
  padding: 26px 29px 25px 29px;
  max-width: 140px;
}

.pagination_number {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  padding: 3px 10px 6px 11px;
  cursor: pointer;
}

.pagination_number:hover {
  opacity: 1;
}

.pagination_list:focus-within .pagination_number{
  outline: 5px solid #AF4FFF;
}

.pagination_number:active {
  opacity: 0.1;
}
